/* Responisve code goes here */

@media only screen and (max-width: 940px) {
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #06c167;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a.active {
    color: #1d1d1f;
  }
  nav ul li a:hover {
    background: none;
    color: white;
  }

  .menu-btn {
    display: block;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
  }

  .main-header {
    flex-direction: column;
  }

  .main-header-left >.quality{
  right: 100px;
  top: 820px;
  /* background-color: #FFFFFF;
  border-radius: 35px;
  z-index: 2; */
}

  .main-header-left > .rating{
  /* font-size: 15px;
  font-weight: 500;
  position: absolute; */
  top: 750px;
  right: 100px;
  /* background-color: #FFFFFF;
  border-radius: 35px;
  z-index: 2; */
}
.dots{
  z-index: 2;
  right: 45px;
  top: 700px;
}
.dots > table{
   border-spacing: 8px;
}
.main-header-right{
  text-align: center;
}
.main-header-right > img {
  position: absolute;
  max-width: 320px;
  max-height: 469px; 
 }
}
